@import "tailwindcss";
@theme {
  --font-serif: "Instrument Serif", serif;
  --font-sans: "Roboto", sans-serif;

  --color-brand-blue-soft: #D4E0FF;
  --color-brand-purple-soft: #EAD4FF;
  --color-brand-pink-soft: #FFE4E4;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #1a1a1a;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-brand-purple-soft);
  color: #000;
}